# Build files
.git
.gitignore
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.env
.env.*

# Local data and logs
backend/learner.db
backend/uploads/*
!backend/uploads/.gitkeep
data/
logs/
*.log

# Project specific
.planning
docs/
evaluation/
README.md
LICENSE
.env.template
PRODUCTION_DEPLOYMENT.md

# Frontend
frontend/
node_modules/
